<?xml version="1.0"?>
<model>
  <name>custom_airship</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Yun Taewoong</name>
    <email>ytw3220@gmail.com</email>
  </author>

  <description>
    Test airship model for buoyancy + LTA dynamics.
  </description>
</model>
